button {
    padding: 1em;
    background-color: aliceblue;
    border: none;
    box-shadow: 0 0 2px 1px black;
    border-radius: 1em;
    margin: 1em;
}

button:hover {
    box-shadow: 0 0 4px 2px black;
}
button:active {
    box-shadow: 0 0 1px 1px gray;
}