.main {
    margin: auto;
    text-align: center;
    width: 300px;
    height: 280px;
    box-shadow: 0 0 2px 1px black;
    padding: 0;
    border-radius: 10px;
    background-color: antiquewhite;
}

#score {
    background-color: grey;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    color: white;
}

#signs img {
    width: auto;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
#signs img:hover {
    box-shadow: 0 0 3px 1px black;
    background-color: white;
    cursor: pointer;
}
#signs img:active {
    box-shadow: 0 0 3px 1px black;
    background-color: silver;
}

#computer-move img {
    width: auto;
    height: 60px;
    margin-top: 10px;
}

#scoreboard {
    font-size: 22px;
    font-weight: bold;
}
#my-score {
    font-weight: bold;
}
#cpu-score {
    font-weight: bold;
}

#reset {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 10px;
    text-shadow: 0 0 1px black;
    box-shadow: 0 0 1px 1px black;
    background-color: grey;
    border-radius: 10px;
}
#reset:hover {
    background-color: rgb(95, 95, 95);
    cursor: pointer;
}